/* Style for the table */
table {
	width: 100%;
	border-collapse: collapse;
	margin: 20px auto;
	font-family: Arial, sans-serif;
	border: 1px solid #ddd;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style for table header */
th {
	background-color: #f2f2f2;
	padding: 12px 8px;
	text-align: left;
	font-weight: bold;
	border-bottom: 1px solid #ddd;
}

/* Style for table rows */
td {
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

/* Style for even rows */
tr:nth-child(even) {
	background-color: #f2f2f2;
}

/* Basic styling for the navigation menu */
ul.nav-menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #333;
	overflow: hidden;
}

li.nav-item {
	float: left;
}

li.nav-item a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li.nav-item a:hover {
	background-color: #555;
}

/* Style for the sections */
section {
	padding: 20px;
	background-color: #f2f2f2;
}

h1 {
	margin-top: 0;
}

/* Your CSS styles here */
.image-table {
	width: 100%;
	border-collapse: collapse;
}

.image-table th, .image-table td {
	padding: 8px;
	border: 1px solid #ddd;
	text-align: left;
}

.image-table th {
	background-color: #f2f2f2;
}

.separator {
	margin-top: 20px;
}

#progress {
  width: 100%;
  background-color: #f0f0f0;
}

#progress-bar {
  height: 20px;
  background-color: #4CAF50;
  width: 0;
}

#progress-text {
  margin-top: 5px;
  text-align: center;
}